<%%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>

<% @attributes.each do |att| -%>
<div class="field">
	<%= att.html_label %>:<br />
	<%- if att.boolean? -%>
	<form:checkbox path="<%=att.name%>" />
	<%- elsif att.is_reference? -%>
	<form:select path="<%=att.name%>.id">
		<form:options items="${<%=att.name%>List}" itemValue="id" itemLabel="id"/>
	<form:select />
  <%- else -%>
	<form:input path="<%=att.name%>" />
	<form:errors path="<%=att.name%>" />
  <%- end -%>
</div>

<% end -%>
<div class="actions">
	<button type="submit">send</button>
</div>
